<div>
    <h2 id="page-heading">
        <span jhiTranslate="hahuApp.schoolProgress.home.title">School Progresses</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-school-progress" [routerLink]="['/school-progress/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hahuApp.schoolProgress.home.createLabel">
            Create a new School Progress
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="schoolProgresses?.length === 0">
        <span jhiTranslate="hahuApp.schoolProgress.home.notFound">No schoolProgresses found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="schoolProgresses && schoolProgresses.length > 0">
        <table class="table table-striped table-sm" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="subject"><span jhiTranslate="hahuApp.schoolProgress.subject">Subject</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="year"><span jhiTranslate="hahuApp.schoolProgress.year">Year</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="semester"><span jhiTranslate="hahuApp.schoolProgress.semester">Semester</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="result"><span jhiTranslate="hahuApp.schoolProgress.result">Result</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userLogin"><span jhiTranslate="hahuApp.schoolProgress.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let schoolProgress of schoolProgresses ;trackBy: trackId">
                    <td><a [routerLink]="['/school-progress', schoolProgress.id, 'view']">{{ schoolProgress.id }}</a></td>
                    <td>{{ schoolProgress.subject }}</td>
                    <td>{{ schoolProgress.year }}</td>
                    <td>{{ schoolProgress.semester }}</td>
                    <td>{{ schoolProgress.result }}</td>
                    <td>
                        {{ schoolProgress.userLogin }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/school-progress', schoolProgress.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/school-progress', schoolProgress.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(schoolProgress)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="schoolProgresses && schoolProgresses.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
