<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userGroup">
            <h2><span jhiTranslate="hahuApp.userGroup.detail.title">User Group</span> {{ userGroup.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hahuApp.userGroup.groupName">Group Name</span></dt>
                <dd>
                    <span>{{ userGroup.groupName }}</span>
                </dd>
                <dt><span jhiTranslate="hahuApp.userGroup.owner">Owner</span></dt>
                <dd>
                    <span>{{ userGroup.owner }}</span>
                </dd>
                <dt><span jhiTranslate="hahuApp.userGroup.user">User</span></dt>
                <dd>
                    <span *ngFor="let user of userGroup.users; let last = last">
                        {{ user.login }}{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-group', userGroup.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
