<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="schoolProgress">
            <h2><span jhiTranslate="hahuApp.schoolProgress.detail.title">School Progress</span> {{ schoolProgress.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hahuApp.schoolProgress.subject">Subject</span></dt>
                <dd>
                    <span>{{ schoolProgress.subject }}</span>
                </dd>
                <dt><span jhiTranslate="hahuApp.schoolProgress.year">Year</span></dt>
                <dd>
                    <span>{{ schoolProgress.year }}</span>
                </dd>
                <dt><span jhiTranslate="hahuApp.schoolProgress.semester">Semester</span></dt>
                <dd>
                    <span>{{ schoolProgress.semester }}</span>
                </dd>
                <dt><span jhiTranslate="hahuApp.schoolProgress.result">Result</span></dt>
                <dd>
                    <span>{{ schoolProgress.result }}</span>
                </dd>
                <dt><span jhiTranslate="hahuApp.schoolProgress.user">User</span></dt>
                <dd>
                    {{ schoolProgress.userLogin }}
                </dd>
                <dt><span jhiTranslate="hahuApp.schoolProgress.userGroup">User Group</span></dt>
                <dd>
                    <div *ngIf="schoolProgress.userGroupId">
                        <a [routerLink]="['/user-group', schoolProgress.userGroupId, 'view']">{{ schoolProgress.userGroupName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/school-progress', schoolProgress.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
