<div class="container">
    <div class="row">
        <div class="col-3">
            <!-- small box -->
            <div class="small-box border border-secondary shadow" style="background-color: #b0e4ae; cursor: pointer">
                <div class="inner">
                    <h3>15000</h3>
                    <p>Number of users</p>
                </div>
                <div class="icon">
                    <fa-icon icon="home"></fa-icon>
                </div>
                <a href="#" class="small-box-footer">More info
                    <fa-icon icon="arrow-circle-right"></fa-icon>
                </a>
            </div>
        </div>
        <div class="col-3">
            <div class="small-box border border-secondary shadow" style="background-color: #f9cbcc; cursor: pointer">
                <div class="inner">
                    <h3>1500</h3>

                    <p>Number of Schools</p>
                </div>
                <div class="icon">
                    <fa-icon icon="home"></fa-icon>
                </div>
                <a href="#" class="small-box-footer">More info
                    <fa-icon icon="arrow-circle-right"></fa-icon>
                </a>
            </div>
        </div>
        <div class="col-3">
            <!-- small box -->
            <div class="small-box border border-secondary shadow" style="background-color: #39d9b9; cursor: pointer">
                <div class="inner">
                    <h3>15000</h3>
                    <p>Number of User Group</p>
                </div>
                <div class="icon">
                    <fa-icon icon="home"></fa-icon>
                </div>
                <a href="#" class="small-box-footer">More info
                    <fa-icon icon="arrow-circle-right"></fa-icon>
                </a>
            </div>
        </div>
        <div class="col-3">
            <!-- small box -->
            <div class="small-box border border-secondary shadow" style="background-color: #7796e4; cursor: pointer">
                <div class="inner">
                    <h3>15</h3>
                    <p>Number of Company</p>
                </div>
                <div class="icon">
                    <fa-icon icon="home"></fa-icon>
                </div>
                <a href="#" class="small-box-footer">More info
                    <fa-icon icon="arrow-circle-right"></fa-icon>
                </a>
            </div>
        </div>
    </div>
</div>


