<!-- Page Content -->
<div class="container">
    <!-- Portfolio Item Heading -->
    <h4 class="my-2">
        <fa-icon (click)="previousState()" [icon]="'arrow-left'"></fa-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>{{school?.name}}</span>
        <!--<small>Secondary Text</small>-->
    </h4>
    <jhi-alert></jhi-alert>
    <!-- Portfolio Item Row -->
    <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-4">
            <div class="card p-2">
                <p class="my-2">Description</p>
                <p>
                    <small>{{school?.about}}</small>
                </p>
            </div>
            <br>
            <div class="card p-2">
                <p class="my-2">Location</p>
                <p>
                    <small>{{school?.location}}</small>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
