<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-school-heading" jhiTranslate="hahuApp.school.home.createOrEditLabel">Create or edit a School</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hahuApp.school.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hahuApp.school.featuredImage" for="field_featuredImage">Featured Image</label>
                    <div>
                        <img [src]="'data:' + editForm.get('featuredImageContentType')!.value + ';base64,' + editForm.get('featuredImage')!.value" style="max-height: 100px;" *ngIf="editForm.get('featuredImage')!.value" alt="school image"/>
                        <div *ngIf="editForm.get('featuredImage')!.value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{ editForm.get('featuredImageContentType')!.value }}, {{ byteSize(editForm.get('featuredImage')!.value) }}</span>
                            <button type="button" (click)="clearInputImage('featuredImage', 'featuredImageContentType', 'file_featuredImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_featuredImage" (change)="setFileData($event, 'featuredImage', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="featuredImage" id="field_featuredImage"
                           formControlName="featuredImage"/>
                    <input type="hidden" class="form-control" name="featuredImageContentType" id="field_featuredImageContentType"
                           formControlName="featuredImageContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hahuApp.school.phone" for="field_phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="field_phone"
                           formControlName="phone"/>
                    <div *ngIf="editForm.get('phone')!.invalid && (editForm.get('phone')!.dirty || editForm.get('phone')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('phone')?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Phone' }">
                            This field should follow pattern for "Phone".
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hahuApp.school.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                    <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email')?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Email' }">
                            This field should follow pattern for "Email".
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hahuApp.school.website" for="field_website">Website</label>
                    <input type="text" class="form-control" name="website" id="field_website"
                           formControlName="website"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hahuApp.school.about" for="field_about">About</label>
                    <textarea class="form-control" name="about" id="field_about"
                              formControlName="about"></textarea>
                </div>

                <!--<div class="form-group">-->
                    <!--<label class="form-control-label" jhiTranslate="hahuApp.school.aboutType" for="field_aboutType">About Type</label>-->
                    <!--<select class="form-control" name="aboutType" formControlName="aboutType" id="field_aboutType">-->
                        <!--<option value="TEXT">{{ 'hahuApp.ContentType.TEXT' | translate }}</option>-->
                        <!--<option value="HTML">{{ 'hahuApp.ContentType.HTML' | translate }}</option>-->
                    <!--</select>-->
                <!--</div>-->

                <!--<div class="form-group">-->
                    <!--<label class="form-control-label" jhiTranslate="hahuApp.school.location" for="field_location">Location</label>-->
                    <!--<textarea class="form-control" name="location" id="field_location"-->
                              <!--formControlName="location"></textarea>-->
                <!--</div>-->

                <!--<div class="form-group">-->
                    <!--<label class="form-control-label" jhiTranslate="hahuApp.school.locationType" for="field_locationType">Location Type</label>-->
                    <!--<select class="form-control" name="locationType" formControlName="locationType" id="field_locationType">-->
                        <!--<option value="TEXT">{{ 'hahuApp.ContentType.TEXT' | translate }}</option>-->
                        <!--<option value="HTML">{{ 'hahuApp.ContentType.HTML' | translate }}</option>-->
                    <!--</select>-->
                <!--</div>-->

                <!--<div class="form-group">-->
                    <!--<label jhiTranslate="hahuApp.school.user" for="field_users">User</label>-->
                    <!--<select class="form-control" id="field_users" multiple name="users" formControlName="users">-->
                        <!--<option [ngValue]="getSelected(editForm.get('users')!.value, userOption)" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>-->
                    <!--</select>-->
                <!--</div>-->
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
