<div>
    <h2 id="page-heading">
        <span jhiTranslate="hahuApp.additionalUserInfo.home.title">Additional User Infos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-additional-user-info" [routerLink]="['/additional-user-info/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hahuApp.additionalUserInfo.home.createLabel">
            Create a new Additional User Info
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="additionalUserInfos?.length === 0">
        <span jhiTranslate="hahuApp.additionalUserInfo.home.notFound">No additionalUserInfos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="additionalUserInfos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phone"><span jhiTranslate="hahuApp.additionalUserInfo.phone">Phone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="profilePicture"><span jhiTranslate="hahuApp.additionalUserInfo.profilePicture">Profile Picture</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userLogin"><span jhiTranslate="hahuApp.additionalUserInfo.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userGroupId"><span jhiTranslate="hahuApp.additionalUserInfo.userGroup">User Group</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let additionalUserInfo of additionalUserInfos ;trackBy: trackId">
                    <td><a [routerLink]="['/additional-user-info', additionalUserInfo.id, 'view']">{{ additionalUserInfo.id }}</a></td>
                    <td>{{ additionalUserInfo.phone }}</td>
                    <td>{{ additionalUserInfo.profilePicture }}</td>
                    <td>
                        {{ additionalUserInfo.userLogin }}
                    </td>
                    <td>
                        <div *ngIf="additionalUserInfo.userGroupId">
                            <a [routerLink]="['/user-group', additionalUserInfo.userGroupId , 'view']" >{{ additionalUserInfo.userGroupId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/additional-user-info', additionalUserInfo.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/additional-user-info', additionalUserInfo.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(additionalUserInfo)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="additionalUserInfos?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
