<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="additionalUserInfo">
            <h2><span jhiTranslate="hahuApp.additionalUserInfo.detail.title">Additional User Info</span> {{ additionalUserInfo.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hahuApp.additionalUserInfo.phone">Phone</span></dt>
                <dd>
                    <span>{{ additionalUserInfo.phone }}</span>
                </dd>
                <dt><span jhiTranslate="hahuApp.additionalUserInfo.profilePicture">Profile Picture</span></dt>
                <dd>
                    <span>{{ additionalUserInfo.profilePicture }}</span>
                </dd>
                <dt><span jhiTranslate="hahuApp.additionalUserInfo.user">User</span></dt>
                <dd>
                    {{ additionalUserInfo.userLogin }}
                </dd>
                <dt><span jhiTranslate="hahuApp.additionalUserInfo.userGroup">User Group</span></dt>
                <dd>
                    <div *ngIf="additionalUserInfo.userGroupId">
                        <a [routerLink]="['/user-group', additionalUserInfo.userGroupId, 'view']">{{ additionalUserInfo.userGroupId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/additional-user-info', additionalUserInfo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
