<div>
    <h2 id="page-heading">
        <span jhiTranslate="hahuApp.family.home.title">Families</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-family" [routerLink]="['/family/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hahuApp.family.home.createLabel">
            Create a new Family
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="families?.length === 0">
        <span jhiTranslate="hahuApp.family.home.notFound">No families found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="families && families.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="hasFamilyControl"><span jhiTranslate="hahuApp.family.hasFamilyControl">Has Family Control</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userLogin"><span jhiTranslate="hahuApp.family.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let family of families ;trackBy: trackId">
                    <td><a [routerLink]="['/family', family.id, 'view']">{{ family.id }}</a></td>
                    <td>{{ family.hasFamilyControl }}</td>
                    <td>
                        {{ family.userLogin }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/family', family.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/family', family.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(family)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="families && families.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
