<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="postMetaData">
            <h2><span jhiTranslate="hahuApp.postMetaData.detail.title">Post Meta Data</span> {{ postMetaData.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hahuApp.postMetaData.name">Name</span></dt>
                <dd>
                    <span>{{ postMetaData.name }}</span>
                </dd>
                <dt><span jhiTranslate="hahuApp.postMetaData.value">Value</span></dt>
                <dd>
                    <span>{{ postMetaData.value }}</span>
                </dd>
                <dt><span jhiTranslate="hahuApp.postMetaData.blobValue">Blob Value</span></dt>
                <dd>
                    <div *ngIf="postMetaData.blobValue">
                        <a (click)="openFile(postMetaData?.blobValueContentType!, postMetaData?.blobValue)" jhiTranslate="entity.action.open">open</a>
                        {{ postMetaData.blobValueContentType }}, {{ byteSize(postMetaData.blobValue) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="hahuApp.postMetaData.post">Post</span></dt>
                <dd>
                    <div *ngIf="postMetaData.postId">
                        <a [routerLink]="['/post', postMetaData.postId, 'view']">{{ postMetaData.postId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/post-meta-data', postMetaData.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
