<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-post-meta-data-heading" jhiTranslate="hahuApp.postMetaData.home.createOrEditLabel">Create or edit a Post Meta Data</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hahuApp.postMetaData.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hahuApp.postMetaData.value" for="field_value">Value</label>
                    <input type="text" class="form-control" name="value" id="field_value"
                           formControlName="value"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hahuApp.postMetaData.blobValue" for="field_blobValue">Blob Value</label>
                    <div>
                        <div *ngIf="editForm.get('blobValue')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('blobValueContentType')!.value, editForm.get('blobValue')!.value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{ editForm.get('blobValueContentType')!.value }}, {{ byteSize(editForm.get('blobValue')!.value) }}</span>
                            <button type="button" (click)="editForm.patchValue({blobValue: null});editForm.patchValue({blobValueContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_blobValue" (change)="setFileData($event, 'blobValue', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="blobValue" id="field_blobValue"
                           formControlName="blobValue"/>
                    <input type="hidden" class="form-control" name="blobValueContentType" id="field_blobValueContentType"
                           formControlName="blobValueContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hahuApp.postMetaData.post" for="field_post">Post</label>
                    <select class="form-control" id="field_post" name="post" formControlName="postId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="postOption.id" *ngFor="let postOption of posts; trackBy: trackById">{{ postOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
