<h6>
    <span id="user-management-page-heading">Group Admins</span>
    <button class="btn btn-primary btn-sm float-right jh-create-entity" (click)="addFromExisting()">
        <fa-icon icon="plus"></fa-icon> <span>Add New Admin</span>
    </button>
    <span class="float-right">&nbsp;&nbsp;</span>
</h6>
<br>
<div class="alert alert-warning" id="no-result" *ngIf="userGroup?.owners?.length === 0">
    <span>No group admin found</span>
</div>
<div class="table-responsive" *ngIf="userGroup && userGroup.owners && userGroup.owners.length > 0">
    <table class="table table-striped table-sm" aria-describedby="user-management-page-heading">
        <thead>
        <tr>
            <th><span jhiTranslate="userManagement.login">Full Name</span></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody *ngIf="userGroup?.owners">
        <tr *ngFor="let user of userGroup?.owners">
            <td>{{ user.firstName + user.lastName}}</td>
            <td class="text-right">
                <div class="btn-group">
                    <button type="button" (click)="removeUser(user)"
                            class="btn btn-danger btn-sm">
                        <fa-icon icon="times"></fa-icon>
                        <span class="d-none d-md-inline">Remove</span>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
