<div class="container">
    <!-- Portfolio Item Heading -->
    <h4>
        <fa-icon class="btn-light btn-outline-primary" (click)="previousState()" [icon]="'arrow-left'"></fa-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>Manage <span class="text-bold">{{userGroup?.name}}</span></span>
    </h4>
    <jhi-alert></jhi-alert>
    <!-- Portfolio Item Row -->
    <div class="row">
        <div class="col-md-8">
            <br>
            <jhi-member-list [userGroup]="userGroup"></jhi-member-list>
        </div>
        <div class="col-md-4">
            <br>
            <jhi-owner-list [userGroup]="userGroup"></jhi-owner-list>
        </div>
    </div>
</div>
<!-- /.container -->
