<!-- Page Content -->
<div class="container">
    <!-- Portfolio Item Heading -->
    <h4 *ngIf="showBack">
        <fa-icon class="btn-light btn-outline-primary" (click)="previousState()" [icon]="'arrow-left'"></fa-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>{{school?.name}}</span>
    </h4>
    <!-- Portfolio Item Row -->
    <div class="row">
        <div class="col-md-4">
            <br>
            <div class="card p-2">
                <p class="my-2">Name: {{school?.name}}</p>
                <p class="my-2">Phone: {{school?.phone}}</p>
                <p class="my-2">Email: {{school?.email}}</p>
                <p class="my-2">Description</p>
                <p>
                    <small>{{school?.about}}</small>
                </p>
                <button type="submit"
                        [routerLink]="['../../', school?.id, 'edit']"
                        class="btn btn-primary btn-sm">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </button>
            </div>
            <br>
        </div>
        <div class="col-md-8">
            <br>
            <jhi-school-user-group></jhi-school-user-group>
        </div>
    </div>
</div>
<!-- /.container -->
