<div>
    <h2 id="page-heading">
        <span jhiTranslate="hahuApp.post.home.title">Posts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-post" [routerLink]="['/post/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hahuApp.post.home.createLabel">
            Create a new Post
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="posts?.length === 0">
        <span jhiTranslate="hahuApp.post.home.notFound">No posts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="posts && posts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="title"><span jhiTranslate="hahuApp.post.title">Title</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="content"><span jhiTranslate="hahuApp.post.content">Content</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="contentType"><span jhiTranslate="hahuApp.post.contentType">Content Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="postType"><span jhiTranslate="hahuApp.post.postType">Post Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="featuredImage"><span jhiTranslate="hahuApp.post.featuredImage">Featured Image</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="postedDate"><span jhiTranslate="hahuApp.post.postedDate">Posted Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="modifiedDate"><span jhiTranslate="hahuApp.post.modifiedDate">Modified Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="instantPostEndDate"><span jhiTranslate="hahuApp.post.instantPostEndDate">Instant Post End Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="popularityIndex"><span jhiTranslate="hahuApp.post.popularityIndex">Popularity Index</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="trendingIndex"><span jhiTranslate="hahuApp.post.trendingIndex">Trending Index</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userLogin"><span jhiTranslate="hahuApp.post.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pageId"><span jhiTranslate="hahuApp.post.page">Page</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of posts ;trackBy: trackId">
                    <td><a [routerLink]="['/post', post.id, 'view']">{{ post.id }}</a></td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.content }}</td>
                    <td jhiTranslate="{{ 'hahuApp.ContentType.' + post.contentType }}">{{ post.contentType }}</td>
                    <td jhiTranslate="{{ 'hahuApp.PostType.' + post.postType }}">{{ post.postType }}</td>
                    <td>
                        <a *ngIf="post.featuredImage" (click)="openFile(post.featuredImageContentType, post.featuredImage)">
                            <img [src]="'data:' + post.featuredImageContentType + ';base64,' + post.featuredImage" style="max-height: 30px;" alt="post image"/>
                        </a>
                        <span *ngIf="post.featuredImage">{{ post.featuredImageContentType }}, {{ byteSize(post.featuredImage) }}</span>
                    </td>
                    <td>{{ post.postedDate | date:'medium' }}</td>
                    <td>{{ post.modifiedDate | date:'medium' }}</td>
                    <td>{{ post.instantPostEndDate | date:'medium' }}</td>
                    <td>{{ post.popularityIndex }}</td>
                    <td>{{ post.trendingIndex }}</td>
                    <td>
                        {{ post.userLogin }}
                    </td>
                    <td>
                        <div *ngIf="post.pageId">
                            <a [routerLink]="['/post', post.pageId , 'view']" >{{ post.pageId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/post', post.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/post', post.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(post)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="posts && posts.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
