<div>
    <h2 id="page-heading">
        <span jhiTranslate="hahuApp.notificationMetaData.home.title">Notification Meta Data</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-notification-meta-data" [routerLink]="['/notification-meta-data/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hahuApp.notificationMetaData.home.createLabel">
            Create a new Notification Meta Data
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="notificationMetaData?.length === 0">
        <span jhiTranslate="hahuApp.notificationMetaData.home.notFound">No notificationMetaData found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="notificationMetaData?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="hahuApp.notificationMetaData.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="value"><span jhiTranslate="hahuApp.notificationMetaData.value">Value</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="blobValue"><span jhiTranslate="hahuApp.notificationMetaData.blobValue">Blob Value</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="notificationId"><span jhiTranslate="hahuApp.notificationMetaData.notification">Notification</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let notificationMetaData of notificationMetaData ;trackBy: trackId">
                    <td><a [routerLink]="['/notification-meta-data', notificationMetaData.id, 'view']">{{ notificationMetaData.id }}</a></td>
                    <td>{{ notificationMetaData.name }}</td>
                    <td>{{ notificationMetaData.value }}</td>
                    <td>
                        <a *ngIf="notificationMetaData.blobValue" (click)="openFile(notificationMetaData.blobValueContentType, notificationMetaData.blobValue)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="notificationMetaData.blobValue">{{ notificationMetaData.blobValueContentType }}, {{ byteSize(notificationMetaData.blobValue) }}</span>
                    </td>
                    <td>
                        <div *ngIf="notificationMetaData.notificationId">
                            <a [routerLink]="['/notification', notificationMetaData.notificationId , 'view']" >{{ notificationMetaData.notificationId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/notification-meta-data', notificationMetaData.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/notification-meta-data', notificationMetaData.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(notificationMetaData)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="notificationMetaData?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
