<div>
    <h2 id="page-heading">
        <span jhiTranslate="hahuApp.profile.home.title">Profiles</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-profile" [routerLink]="['/profile/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hahuApp.profile.home.createLabel">
            Create a new Profile
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="profiles?.length === 0">
        <span jhiTranslate="hahuApp.profile.home.notFound">No profiles found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="profiles && profiles.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="age"><span jhiTranslate="hahuApp.profile.age">Age</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phone"><span jhiTranslate="hahuApp.profile.phone">Phone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="curentProfilePic"><span jhiTranslate="hahuApp.profile.curentProfilePic">Curent Profile Pic</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userLogin"><span jhiTranslate="hahuApp.profile.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let profile of profiles ;trackBy: trackId">
                    <td><a [routerLink]="['/profile', profile.id, 'view']">{{ profile.id }}</a></td>
                    <td>{{ profile.age }}</td>
                    <td>{{ profile.phone }}</td>
                    <td>
                        <a *ngIf="profile.curentProfilePic" (click)="openFile(profile.curentProfilePicContentType, profile.curentProfilePic)">
                            <img [src]="'data:' + profile.curentProfilePicContentType + ';base64,' + profile.curentProfilePic" style="max-height: 30px;" alt="profile image"/>
                        </a>
                        <span *ngIf="profile.curentProfilePic">{{ profile.curentProfilePicContentType }}, {{ byteSize(profile.curentProfilePic) }}</span>
                    </td>
                    <td>
                        {{ profile.userLogin }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/profile', profile.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/profile', profile.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(profile)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="profiles && profiles.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
