<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="profile">
            <h2><span jhiTranslate="hahuApp.profile.detail.title">Profile</span> {{ profile.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hahuApp.profile.phone">Phone</span></dt>
                <dd>
                    <span>{{ profile.phone }}</span>
                </dd>
                <dt><span jhiTranslate="hahuApp.profile.curentProfilePic">Curent Profile Pic</span></dt>
                <dd>
                    <div *ngIf="profile.curentProfilePic">
                        <a (click)="openFile(profile.curentProfilePicContentType, profile.curentProfilePic)">
                            <img [src]="'data:' + profile.curentProfilePicContentType + ';base64,' + profile.curentProfilePic" style="max-width: 100%;" alt="profile image"/>
                        </a>
                        {{ profile.curentProfilePicContentType }}, {{ byteSize(profile.curentProfilePic) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="hahuApp.profile.user">User</span></dt>
                <dd>
                    {{ profile.userLogin }}
                </dd>
                <dt><span jhiTranslate="hahuApp.profile.family">Family</span></dt>
                <dd>
                    <span *ngFor="let family of profile.families; let last = last">
                        {{ family.login }}{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/profile', profile.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
