<div class="container">
    <div class="row">
        <div class="col-4">
            <!-- small box -->
            <div class="small-box border border-secondary shadow" style="background-color: #b0e4ae; cursor: pointer">
                <div class="inner">
                    <h3>15000</h3>
                    <p>Student Groups</p>
                </div>
                <div class="icon">
                    <fa-icon icon="home"></fa-icon>
                </div>
                <a href="#" class="small-box-footer">More info <fa-icon icon="arrow-circle-right"></fa-icon></a>
            </div>
        </div>
        <div class="col-4">
            <div class="small-box border border-secondary shadow" style="background-color: #f9cbcc; cursor: pointer">
                <div class="inner">
                    <h3>150</h3>

                    <p>Number Of Teacher</p>
                </div>
                <div class="icon">
                    <fa-icon icon="home"></fa-icon>
                </div>
                <a href="#" class="small-box-footer">More info <fa-icon icon="arrow-circle-right"></fa-icon></a>
            </div>
        </div>
        <div class="col-4">
            <div class="small-box border border-secondary shadow" style="background-color: #f9cbcc; cursor: pointer">
                <div class="inner">
                    <h3>150</h3>

                    <p>Number Of Student</p>
                </div>
                <div class="icon">
                    <fa-icon icon="home"></fa-icon>
                </div>
                <a href="#" class="small-box-footer">More info <fa-icon icon="arrow-circle-right"></fa-icon></a>
            </div>
        </div>
    </div>
</div>

